body {
  background-color: #F3ECC2;
  font-family: sans-serif;
}

.welcome-back {
  font-size: 40px;
  letter-spacing: 0px;
  color: #005D6E;
  opacity: 1;
  margin-bottom: 50px;
}

.login-form {
  width: 100vw;
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

Input {
  width: 322px;
  height: 59px;
  background-color: #FFFFFF;
  border: none;
  border-radius: 5px;
  opacity: 1;
  margin: 10px 0px;
  display: flex;
  outline: none;
  font-size: 21px;
  color: #3E3E3E;
  padding-left: 12px;
}

::placeholder {
  color: #7E7E7E;
}

.already-member {
  width: 195px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3px;
}

.already-member p {
  font-size: 16px;
  color: #3E3E3E;
}

.already-member a {
  font-size: 16px;
  font-weight: bolder;
  text-decoration: none;
  color: #3E3E3E;
}

.already-member a:hover {
  text-decoration: underline;
}

#loginBtn:disabled {
  width: 322px;
  height: 59px;
  background: #85EA9F 0% 0% no-repeat padding-box;
  border: none;
  border-radius: 5px;
  opacity: 1;
  margin-top: 40px;
  font-size: 21px;
  color: #ffffff;
  outline: none;
}

#loginBtn:enabled {
  width: 322px;
  height: 59px;
  background: #1bc505 0% 0% no-repeat padding-box;
  border: none;
  border-radius: 5px;
  opacity: 1;
  margin-top: 40px;
  font-size: 21px;
  color: #ffffff;
  outline: none;
  cursor: pointer;
}

#loginBtn:enabled:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.errors {
  font-size: 14px;
  color: #FF2626;
  margin-top: 25px;
  line-height: 25px;
  text-align: center;
}