.header {
    background-color: orange;
    color: white;
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    height: 65px;
    align-items: center;
  }
  
  .create-howtodo {
    color: white !important;
    text-decoration: none;
  }
  
  .hover-effect {
    cursor: pointer;
    color: white;
    text-decoration: none;
  }