/*********************//*********************
*                 Home Styles
 ********************************************/

 .home {
    background-color: var(--main-bg);
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
    width: 100%;

     
}

.wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 50rem;
    height: 25rem;
    max-height: 100%;
    
}

.home-title {
    color: #B56C6C;
    font-size: 2.5rem;
}

.btn_wrapper {
    display: flex;
    justify-content: space-evenly;
    width:100%;
    max-height: 100%;
    flex-wrap: wrap;
}

.discover_btn {
    cursor: pointer;
    width: 300px;
    height: 200px;
    background: #3E3E3E no-repeat padding-box;
    border-radius: 30px;
    padding: 1rem;
    font-size: 2rem;
    color: white;
    z-index: 0;
    margin: 1rem;
    transition: all .2s ease-in-out; 
}

.discover_btn:hover {
    box-shadow: 8px 8px 20px .9px rgba(0, 0, 0, 0.377);
    transform: scale(1.1); 
}

.create_btn {
    cursor: pointer;
    width: 300px;
    height: 200px;
    background: #3E3E3E  no-repeat padding-box;
    border-radius: 30px;
    font-size: 2rem;
    color: white;
    z-index: 0;
    margin: 1rem;
    padding: 1rem;
    transition: all .2s ease-in-out; 
    }

.create_btn:hover {
    box-shadow: 8px 8px 20px .9px rgba(0, 0, 0, 0.377);
    transform: scale(1.1); 
}

 .icon {
    background-image: url('./icon1.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .icon2 {
    background-image: url('./icon2.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 /* Media Queries  */

 @media only screen and (max-width: 681px) {
 
    .home-title {
        font-size: 2.2rem;
       margin-bottom: 1rem;
    }
    .btn-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
       
       
    }

}